/* Add your styles here */
body {
  background: linear-gradient(to right, #c793f7, #fc50a6);
  /* background-color: rgba(241, 241, 241, 0.8); */
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: background-color 0.7s ease;
}

.sticky-header.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
